@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.bg-rainbow {
  background: linear-gradient(
    18deg,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgb(110, 231, 146) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(28, 127, 238, 1) 50%,
    rgb(131, 90, 212) 60%,
    rgb(197, 37, 255) 70%,
    rgb(228, 72, 207) 80%,
    rgb(230, 73, 73) 90%
  );
}

.bg-bw {
  background: linear-gradient(
    18deg,
    rgb(253, 253, 253) 20%,
    rgb(218, 217, 217) 30%,
    rgb(196, 196, 196) 40%,
    rgb(131, 131, 131) 50%,
    rgb(66, 66, 66) 60%,
    rgb(0, 0, 0) 90%
  );
}

.displayButton {
  padding: 3% 2%;
  margin-top: 10%;
  border: 2px solid rgba(156, 163, 175, 1);
  color: rgba(156, 163, 175, 1);
  font-weight: 500;
  border-radius: 6px;
  width: 65%;
  transition: all 0.3s;
  font-size: medium;
}

.displayButton:hover {
  border: 2px solid rgba(219, 39, 119);
  color: rgba(219, 39, 119);
}

.displayImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displayMainContent {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-device-width: 768px) {
  .mobile-div-image {
    width: 100%;
    height: 30vh;
    padding: 0.5rem 0rem;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .tablet-div-image {
    width: 50%;
  }
}

@media only screen and (min-device-width: 769px) {
  .tablet-div-image {
    height: 40vh;
  }

  .displayImagesContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    align-content: flex-start;
  }
}
